{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="{{ settings.LANGUAGE_CODE }}">
	<head>
    <title>{{ settings.APP_NAME }} - {% block title %}Hjem{% endblock %}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_preload_css %}
    {% tailwind_css %}
		{% include "./pwa/head.html" %}
		<script type="text/javascript" src="{% static 'js/Chart.min.js' %}" defer></script>
		<script type="text/javascript" src="{% static 'js/charts.js' %}" defer></script>
    {% block head %}<!-- no extra head -->{% endblock %}
	</head>
	{% block body %}<!-- no body -->{% endblock %}
</html>
