<table id="crewlist" class="w-full table-auto">
  <thead>
    <tr>
      <th>Crewmedlem</th>
      <th>Crew</th>
      <th class="sr-only w-0 pr-1">Handling</th>
    </tr>
  </thead>
  <tbody>
    {% for assigned_timeslot in timeslot.assigned_timeslots.all|dictsort:"profile.user.last_name"|dictsort:"profile.user.first_name" %}
      <tr class="[&>td]:max-w-xs {% if assigned_timeslot.checkin %}text-green-200{% elif assigned_timeslot.no_show %}text-red-200{% endif %}">
        <td class="text-nowrap">{{ assigned_timeslot.profile }}</td>
        <td class="text-nowrap truncate">{% for membership in assigned_timeslot.profile.crew_memberships.all %}{% firstof membership.team membership.crew %}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
        <td class="text-nowrap w-0 pr-1 text-xs text-right">
          {% if not assigned_timeslot.no_show%}
            {% if assigned_timeslot.checkin %}
              <button onclick="removeCheckIn(this, {{ assigned_timeslot.profile.id }})" class="button button-yellow">Angre</button>
            {% else %}
              <button onclick="checkIn(this, {{ assigned_timeslot.profile.id }})" class="button button-green">Marker møtt</button>
            {% endif %}
          {% endif %}
          <button onclick="removeFromTimeslot(this, {{ assigned_timeslot.profile.id }}, {{ assigned_timeslot.checkin|yesno:"true,false" }}, '{{ assigned_timeslot.profile.crew_name }}')" class="button button-red">Fjern fra tidsrom</button>
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="5" class="empty-list-notice">Ingen er tildelt (tom liste)</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% if not raw %}
  <script>
    function removeCheckIn(button, profileId) {
      fetch("{% url 'check_in_user_to_timeslot' timeslot.id 0 %}".replace("/0/", `/${profileId}/`) + "?remove=true")
        .then(response => {
          if (!response.ok) alert("Noe gikk galt ved fjerning av innsjekk for bruker");
          reloadCrewlist();
          try {
            attendance.updateData({ checkedIn: -1 })
            updateResult();
          } catch(e) {}
        })
    }

    function checkIn(button, profileId) {
      fetch("{% url 'check_in_user_to_timeslot' timeslot.id 0 %}".replace("/0/", `/${profileId}/`))
        .then(response => {
          if (!response.ok) alert("Noe gikk galt ved innsjekk av bruker");
          reloadCrewlist();
          try {
            attendance.updateData({ checkedIn: +1 })
            updateResult();
          } catch(e) {}
        })
    }

    function removeFromTimeslot(button, profileId, isCheckedIn, crew) {
      fetch("{% url 'remove_user_from_timeslot' timeslot.id 0 %}".replace("/0/", `/${profileId}/`))
        .then(response => {
          if (!response.ok) alert("Noe gikk galt ved fjerning av bruker fra tidsrom");
          reloadCrewlist();
          try {
            attendance.updateData({ checkedIn: isCheckedIn ? -1 : 0, assigned: -1 });
            crewComparison.updateData({ [crew]: -1 });
            updateResult();
          } catch(e) {}
        })
    }

    function reloadCrewlist() {
      fetch("{% url 'raw_crewlist' timeslot.id %}")
        .then(response => response.text())
        .then(html => {
          document.getElementById("crewlist").outerHTML = html;
        });
    }
  </script>
{% endif %}
