{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">TG-CTM</h1>
</div>

<div class="d-flex">
    <div>
        <p class="lead">
            What is TG-CTM?
        </p>
        <p>
            TG-CTM is an acronym that stands for The Gathering Common Tasks Management.
        </p>
    </div>
</div>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">My tasks</h1>
</div>

<table class="table align-middle">
    <thead>
      <tr>
        <th scope="col">Task</th>
        <th scope="col">Description</th>
        <th scope="col">Starts</th>
        <th scope="col">Ends</th>
        <th scope="col">Checked in</th>
      </tr>
    </thead>
    <tbody>
        {% for assigned_timeslot in user.profile.assigned_timeslots%}
      <tr>
        <td>{{ assigned_timeslot.timeslot.task.name }}</td>
        <td>{{ assigned_timeslot.timeslot.task.description }}</td>
        <td>{{ assigned_timeslot.timeslot.starts|date:"l d.m.Y, \k\l H:m:s" }}</td>
        <td>{{ assigned_timeslot.timeslot.ends|date:"l d.m.Y, \k\l H:m:s" }}</td>
        <td>{% if assigned_timeslot.has_attended %}Yes{%else%}No{%endif%}</td>
      </tr>
      {% empty %}
      <td colspan=5>You have no tasks assigned, yet!</td>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}