{% extends "base.html" %}

{% block title %}Users{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Users</h1>
</div>

<table class="table align-middle">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">User</th>
        <th scope="col">Crew</th>
        <th scope="col">Assigned timeslots</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <th scope="row">{{ user.id }}</th>
        <td>{{ user.first_name }} {{ user.last_name }}</td>
        <td>{% for crew in user.profile.get_all_crews %}{% if forloop.first %}<a href="/crew/{{crew.id}}">{{ crew.name }}</a>{%else%}, <a href="/crew/{{crew.id}}">{{ crew.name }}</a>{%endif%}{% endfor %}</td>
        <td>{{ user.profile.num_assigned_timeslots }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{%endblock%}