{% extends "base.html" %}

{% block title %}{{ cur_user.first_name }} {{ cur_user.last_name }}{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{ cur_user.first_name }} {{ cur_user.last_name }}'s timeslots</h1>
</div>

<table class="table align-middle">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Task</th>
      <th scope="col">Starts</th>
      <th scope="col">Ends</th>
      <th scope="col">Registered attendance</th>
    </tr>
  </thead>
  <tbody>
    {% for timeslot_user in timeslot_users %}
    <tr>
      <th scope="row">{{ timeslot_user.timeslot.id }}</th>
      <td>{{ timeslot_user.timeslot.task.name }}</td>
      <td>{{ timeslot_user.timeslot.starts|date:"l d.m.Y, \k\l H:i:s" }}</td>
      <td>{{ timeslot_user.timeslot.ends|date:"l d.m.Y, \k\l H:i:s" }}</td>
      <td>{%if timeslot_user.attendance %}<span class="text-success">Yes ({{timeslot_user.attendance.created_on}})  (<a href="/timeslot/{{ timeslot_user.timeslot.id }}/attendance/{{timeslot_user.attendance.id}}">edit</a>)</span>{% else %}<span class="text-danger">No</span>{%endif%}</td>
      <td>{%if not timeslot_user.attendance %}<a href="/timeslot/{{ timeslot_user.timeslot.id }}/attendance/new/{{timeslot_user.user.id}}" class="btn btn-sm btn-info">Register attendance</a>{% endif %}</td>
      <td><a href="/timeslot/{{ timeslot_user.timeslot.id }}/user/{{timeslot_user.user.id}}/remove" class="btn btn-sm btn-danger">Remove user from timeslot</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{%endblock%}
