{% extends '../skeleton.html' %}

{% block title %}Offline{% endblock %}

{% block body %}
  <body class="h-screen w-screen">
    <div class="flex flex-col items-center justify-center min-h-screen py-2">
      <h1 class="text-6xl text-white"><span class="font-emoji">🫶</span> {{ settings.APP_NAME }} er offline</h1>
      <div class="my-4"></div>
      <p class="text-2xl font-bold text-white">Sjekk om du har internett <span class="icon-[fa7-solid--wifi] animate-pulse"></span></p>
    </div>
  </body>
{% endblock %}
